body {
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	padding: 0 10%;
}

$paragraph-color: #7d7987;

@mixin responsive-768px() {
	@media (max-width: 768px) {
		@content;
	}
}
@mixin button-blue() {
	color: #fff;
	background-color: #458ff6;
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	font-size: 18px;
	padding: 15px 25px;
	border-radius: 25px;
	border: 1px solid #458ff6;
	cursor: pointer;
	transition: background-color 0.1s ease-in, color 0.1s ease-in;
}
@mixin button-blue-hover() {
	color: #458ff6;
	background-color: #fff;
}

@mixin button-white() {
	background-color: transparent;
	color: #458ff6;
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	font-size: 18px;
	padding: 15px 25px;
	border-radius: 25px;
	border: 1px solid #458ff6;
	cursor: pointer;
	transition: background-color 0.1s ease-in, color 0.1s ease-in;
}
@mixin button-white-hover() {
	background-color: #458ff6;
	color: #fff;
}

@mixin flex-aligned() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-aligned-column() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
